<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        {{#if errorMessage}}
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
        {{/if}}
        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>

            {{input type="email" class="form-control" value=identification placeholder="Email address" required="required" autofocus="autofocus"}}

            {{input type="password" class="form-control" value=password placeholder="Password" required="required"}}

            <div class="checkbox">
                <label>
                    {{input type="checkbox" checked=rememberMe}}Remember me
                </label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" {{action 'authenticate'}}>Sign in</button>
        </form>
    </div>
</div>
